<div class="container">
  <div class="card">
    <div class="container">
      <h1>Firm Dashboard</h1>
        <ul>
          <li><%= link_to 'Display All Users', all_users_by_role_path %></li>
          <li><%= link_to 'Create Matter', new_matter_path %></li>
          <li><%= link_to 'Display All Matters', all_matters_path %></li>
          <li><%= link_to 'Display All Documents', document_index_path %></li>
        </ul>
    </div>
  </div>
</div>
