<div class="container">
  <div class="well">

<h3>Name: &#09; <%= @profile.first_name%>&#09;<%= @profile.middle_name%>&#09;<%= @profile.last_name%> </h3>
<p>Birthday: <%=@profile.dob%></p>
  </div>
</div>
