<div class="container">
    <div class="card">
        <div class="container">
            <h1>Admin::Case#create</h1>
            <p>Find me in app/views/admin/case/create.html.erb</p>

        </div>
    </div>
</div>
