<div class="container">
  <div class="card">
    <div class="container">
      <h1>Admin::Case#update</h1>
      <p>Find me in app/views/admin/case/update.html.erb</p>
      </div>
    </div>
  </div>
