<div class="outer-wrapper">
  <div class="container">
      <div class="card">
          <div class="container">
              <h1>Edit Info</h1>
              <%= render partial: 'form' %>
          </div>
      </div>
  </div>
</div>
