<div class="outer-wrapper">
    <div class=container>
        <div class="well">
            <div class="row">
              <h1>Swift Discovery<br>
                  <small>Client-Driven Cloud Based Discovery Platform </small></h1><br><hr>
                  <div class="big_spacer">  </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">code</i>
                      </div>
                        <h1><small>Back End Magic</small></h1><hr>
                        <ul>
                            <li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
                            <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
                            <li><a href="https://travis-ci.org/">TravisCI</a></li>
                            <li><a href="https://www.heroku.com/">Heroku</a></li>
                            <li><a href="https://rubygems.org/gems/bcrypt/versions/3.1.11">bcrypt()</a></li>
                            <li>RESTful JSON API Built with <a href="https://www.getpostman.com/">Postman</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">phonelink</i>
                      </div>
                    <h1><small>Front End Magic</small></h1><hr>
                        <ul>
                            <li><a href="https://timeline.knightlab.com/index.html">TimelineJS</a></li>
                            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                            <li><a href="https://design.google.com/"> Material Design Icons</a></li>
                            <li><a href="http://fontawesome.io/icons/">FontAwesome</a></li>
                            <li><a href="http://fezvrasta.github.io/bootstrap-material-design/">Material Design for Bootstrap</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                      </div>
                        <h1><small>General Wizardry</small></h1><hr>
                        <ul>
                          <li> <a href="https://github.com/">Built using Version Control on GitHub</a></li>
                          <li> <a href="https://github.com/sdossettswift/swift_disco"> View Code Here</a></li>
                          <li><a href="https://atom.io/">Written with Atom</a></li>
                          <li><a href="https://www.theironyard.com/locations/houston/%5D">Learn to Code at The Iron Yard</a></li>
                          <li><a href="http://www.swiftdisruption.com/"> Get to Know Me</a></li>
                        </ul>

                    </div>
                </div>
                <br>
                <div class="big_spacer">  </div>
                <div class="big_spacer">  </div>
                <hr>

            </div>
        </div>

    </div>
  </div>
</div>
