<div class="container">
  <div class="well">
    <header>
      Welcome to Swift Discovery! <hr>
      <% if @current_user %>

      <% else %>
        Please <%=link_to "create account", new_user_path%> or  <%=link_to "sign in!", sign_in_path%>
      <% end %>

    </header>
  </div>
</div>
