<div class="outer-wrapper">
    <div class=container>
        <div class="well">
            <div class="row">
                  <h1>Welcome to Swift Discovery</h1><br>
                  <div class="big_spacer">  </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">gavel</i>
                      </div>
                        <h3>For Attorneys</h3><hr>
                        <ul>
                            <li>Protect Privilege.</li>
                            <li>Beat Deadlines.</li>
                            <li>Be a Better Advocate.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">sentiment_satisfied</i>
                      </div>
                        <h3>For Clients</h3><hr>
                        <ul>
                            <li>Control Discovery Costs.</li>
                            <li>Tell Your Story.</li>
                            <li>Communicate Securely.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">alarm_on</i>
                      </div>
                        <h3>For Paralegals</h3><hr>
                        <ul>
                            <li>Manage A Docket.</li>
                            <li>Expedite Discovery.</li>
                            <li>Easy Trial Prep.</li>
                        </ul>

                    </div>
                </div>
                <br>
                <div class="big_spacer">  </div>
                <div class="big_spacer">  </div>
                <hr>

            </div>
        </div>

    </div>
  </div>
</div>
