<div class="container">
  <div class="well">
    <header>
      Welcome to Swift Discovery
    </header>
  </div>

</div>


<div class="container">
  <div class="well">
    <%=link_to "Create Account", new_user_path%> <hr>
    <%=link_to "Sign In", sign_in_path%>
  </div>

</div>
