<div class="container">
  <div class="well">
    <header>
      Welcome to Swift Discovery
    </header>
  </div>

</div>


<div class="container">
  <div class="well">
    <%=link_to "Create Account", users_new_path%> <hr>
    <%=link_to "Sign In", sessions_new_path%>
  </div>

</div>
