<div class="outer-wrapper">
    <div class=container>
        <div class="well">
            <div class="row">
              <h1>Swift Discovery<br>
                  <small>Client-Driven Cloud Based Discovery Platform </small></h1><br><hr>
                  <div class="big_spacer">  </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">gavel</i>
                      </div>
                        <h1><small>For Attorneys</small></h1><hr>
                        <ul>
                            <li>Protect Privilege.</li>
                            <li>Beat Deadlines.</li>
                            <li>Be a Better Advocate.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">sentiment_satisfied</i>
                      </div>
                    <h1><small>For Clients</small></h1><hr>
                        <ul>
                            <li>Control Discovery Costs.</li>
                            <li>Tell Your Story.</li>
                            <li>Communicate Securely.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">alarm_on</i>
                      </div>
                        <h1><small>For Paralegals</small></h1><hr>
                        <ul>
                            <li>Manage A Docket.</li>
                            <li>Expedite Discovery.</li>
                            <li>Easy Trial Prep.</li>
                        </ul>

                    </div>
                </div>
                <br>
                <div class="big_spacer">  </div>
                <div class="big_spacer">  </div>
                <hr>

            </div>
        </div>

    </div>
  </div>
</div>
