<div class="container">
  <div class=well>
    <h1>Welcome to Swift Discovery</h1><hr>
    <div class="well">
      <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="well">
          <h3>For Attorneys</h3><hr>
          <ul>
            <li>Protect Privilege.</li>
            <li>Beat Deadlines.</li>
            <li>Be a Better Advocate.</li>
          </ul>
        </div>

      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="well">
          <h3>For Clients</h3><hr>
          <ul>
            <li>Control Discovery Costs.</li>
            <li>Tell Your Story.</li>
            <li>Communicate Securely.</li>
          </ul>
        </div>

      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="well">
          <h3>For Paralegals</h3><hr>
          <ul>
            <li>Manage A Docket.</li>
            <li>Expedite Discovery.</li>
            <li>Easy Trial Prep.</li>
          </ul>

        </div>
      </div>
    </div>
      </div>

    </div>

  </div>

</div>
