<div class="container">
  <div class="card">
      <div class="col-md-6 col-md-offset-3">
      <h1>Add Document</h1>
        <%= render partial: 'client_form' %>
        <%= render partial: 'attorney_form'%>
    </div>
  </div>
</div>
