<div class="container">
  <div class="card">
    <div class="container">
      <h1>  <%= @document.description%></h1>
      <iframe src="<%= attachment_url(@document, :document, format: 'pdf') %>" width="600" height="800"></iframe>
    </div>
  </div>
</div>
