<div class="container">
  <div class="card">
    <div class="container">
      <h1>Attorneys</h1>
        <% @users.each do |user| %>
            <%if user.role == "Attorney"%>
            <%= link_to user.username, user_path(id: user.id)%>
            <%else%>
            <%end%>
        <% end %>
        <h1>Clients</h1>
          <% @users.each do |user| %>
              <%if user.role == "Client"%>
              <%= link_to user.username, user_path(id: user.id)%>
              <%else%>
              <%end%>
          <% end %>
          <h1>Paralegals</h1>
            <% @users.each do |user| %>
                <%if user.role == "Law Office"%>
                <%= link_to user.username, user_path(id: user.id)%>
                <%else%>
                <%end%>
            <% end %>
            <h1>Admins</h1>
              <% @users.each do |user| %>
                  <%if user.role == "Admin"%>
                  <%= link_to user.username, user_path(id: user.id)%>
                  <%else%>
                  <%end%>
              <% end %>
    </div>
  </div>
</div>
