<div class="container">
  <div class="list-group">
      <h1>Attorneys</h1>
        <% @users.each do |user| %>
          <div class="list-group-item">
            <%if user.role == "Attorney"%>
            <%= user.username%>
            <%else%>
            <%end%>
          </div>
        <% end %>
        <h1>Clients</h1>
          <% @users.each do |user| %>
            <div class="list-group-item">
              <%if user.role == "Client"%>
              <%= user.username%>
              <%else%>
              <%end%>
            </div>
          <% end %>
          <h1>Paralegals</h1>
            <% @users.each do |user| %>
              <div class="list-group-item">
                <%if user.role == "Law Office"%>
                <%= user.username%>
                <%else%>
                <%end%>
              </div>
            <% end %>
            <h1>Admins</h1>
              <% @users.each do |user| %>
                <div class="list-group-item">
                  <%if user.role == "Admin"%>
                  <%= user.username%>
                  <%else%>
                  <%end%>
                </div>
              <% end %>
  </div>
</div>
