@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-material-design';
* {
    font-family: 'Avenir', sans-serif;
}
h1 {
    text-align: center;
}
.body {
    display: flex;
    min-height: 75vh;
    flex-direction: column;
}
.spacer {
    margin: 10px;
}

.big_spacer {
    margin: 10px;
}
.main {
    flex: 1 0 auto;
}
.footer {
    text-align: center;
    background-color: white;
}
.card {
    padding: 5px 10px;
}

.outer-wrapper{
  min-height: 90vh;

}


.icon-div{
  height: 50px;
  width:  50px;
  padding: 10px;
  border-radius: 50px;
  background-color: #c51162;
  position: absolute;
  top: -25px;
  left: 40%;
  i{
    color: white;
    font-size: 30px;
  }
}
