@import "materialize/components/color";
$primary-color: color("teal", "lighten-2") !default;
@import 'materialize';
  body {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
