<!DOCTYPE html>
<html>
  <head>
    <title>Swift Disco</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <nav><h1>Swift Disco</h1></nav>

    </div>
    <%= yield %>
  </body>
</html>
